.facebook,
.instagram {
  svg {
    width: 3.2rem;
    fill: transparent;
    border: 1px solid var(--white);
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    path {
      fill: var(--white);
    }
  }
  &:hover {
    svg {
      border-color: var(--primary);
      background: var(--primary);
      path {
        fill: var(--main-bg);
      }
    }
  }
}
