.banner-simple {
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  .section-title {
    gap: 0.8rem;
    .icon-wrapper {
      width: 3.6rem;
    }
  }
}
