.faq {
  .faq-wrapper {
    > .row {
      --bs-gutter-x: 2.4rem;
      --bs-gutter-y: 3.2rem;
    }
    .faq-description-wrapper {
      height: 100%;
      gap: 2rem;
      .faq-description-contact-us {
        > .row {
          --bs-gutter-y: 1.2rem;
        }
      }
    }
    .faq-body-wrapper {
      gap: 1.2rem;
    }
  }
}
