.faq {
  .faq-wrapper {
    > .row {
    }
    .faq-description-wrapper {
      height: 100%;
      gap: 2rem;
      .faq-description-contact-us {
        > .row {
          --bs-gutter-y: 1.2rem;
        }
      }
    }
  }
}
