.header {
	position: sticky;
	top: 40px;
	z-index: 10;
	width: 100%;
	.header-wrapper {
		.header-logo-wrapper {
			width: 10rem;
		}
		.hamburger-menu-wrapper {
			height: 100%;
			.hamburger-menu {
				width: 4rem;
				height: 4rem;
				svg {
					path {
						fill: var(--white);
					}
				}
			}
		}

		.navbar-lg-screen {
			height: 100%;
			.nav-lg-links {
				width: 100%;
				gap: 2rem;
			}
		}
		.navbar-button-wrapper {
			height: 100%;
			gap: 0.4rem;
			.user-button-wrapper {
				flex: 1;
				a {
					font-size: 1.4rem;
				}
			}
		}
	}
}
.menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 13;
	opacity: 1;
	visibility: hidden;
	overflow: hidden;
	transition: all 0.3s ease-in-out;
	.menu-wrapper {
		position: fixed;
		width: 90%;
		height: 100%;
		top: 0;
		right: 0;
		max-width: 40rem;
		z-index: 13;
		transform: translateX(100%);
		transition: all 0.3s ease-in-out;
		.menu-wrapper-title {
			.menu-logo-wrapper {
				aspect-ratio: 2/1;
				width: 10rem;
			}
		}
		.menu-options-wrapper {
			ul {
				.menu-option {
					font-size: 2rem;
					&:not(:last-child) {
						margin-bottom: 3.2rem;
					}
				}
			}
		}
	}
	&.show {
		visibility: visible;
		opacity: 1;
		.menu-wrapper {
			transform: translate(0);
		}
		.overlay {
			backdrop-filter: blur(12px);
		}
	}
}

@media (min-width: 768px) {
	.header {
		.header-wrapper {
			.header-logo-wrapper {
				width: 14rem;
			}
		}
	}
}
