.navbar-link {
	position: relative;
	transition: all 0.3s ease-in-out;
	&::after {
		content: "";
		position: absolute;
		bottom: -0.8rem;
		left: 0;
		width: 0;
		height: 2px;
		background-color: var(--primary);
		transition: all 0.3s ease-in-out;
	}
	&:hover {
		filter: brightness(1.5);
		&::after {
			width: 100%;
		}
	}
}
