.secondary-button {
  transition: all 0.3s ease-in-out;
  font-size: 20px;
  &:hover {
    background: var(--primary);
    border-color: transparent !important;
    color: var(--black) !important;
  }
}
