.pc-builder-card {
  .pc-builder-card-top {
    .pc-builder-card-title-wrapper {
      gap: 0.8rem;
      .pc-component-icon {
        width: 4rem;
      }
      h4 {
        font-weight: 700;
      }
    }
    .primary-button {
      font-size: 1.6rem;
    }
  }
  &:not(:last-child) {
    border-bottom: 1px solid var(--black-500);
  }
}
