:root {
  --primary: #2ecc71;
  --primary-100: #2ecc711a;
  --secondary: #0183d7;
  --text: #bebec2;
  --white: #fff;
  --black: #000;
  --black-100: #0000001a;
  --black-500: rgba(0, 0, 0, 0.5);
  --main-bg: #101014;
  --light-bg: #28282c;
  --main-gradient: linear-gradient(180deg, #28282c, var(--main-bg));
  --black-gradient: linear-gradient(180deg, transparent, var(--black-500), var(--black));
  --overlay-gradient: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
}

$theme-color: (
  "primary": var(--primary),
  "primary-100": var(--primary-100),
  "secondary": var(--secondary),
  "text": var(--text),
  "white": var(--white),
  "black": var(--black),
  "main-bg": var(--main-bg),
  "light-bg": var(--light-bg),
  "main-gradient": var(--main-gradient),
  "overlay-gradient": var(--overlay-gradient),
);

$border-colors: (
  "black-100": var(--black-100),
  "primary": var(--primary),
  "light-bg": var(--light-bg),
);

@each $color, $value in $theme-color {
  .bg-#{$color} {
    background: #{$value} !important;
  }

  .text-#{$color} {
    color: #{$value} !important;
  }
}

@each $border-color, $value in $border-colors {
  .border-#{$border-color} {
    border: 1px solid #{$value} !important;
  }

  .border-top-#{$border-color} {
    border-top: 1px solid #{$value} !important;
  }

  .border-bottom-#{$border-color} {
    border-bottom: 1px solid #{$value} !important;
  }
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Mulish", sans-serif;
  background: var(--main-bg);
  font-size: 1.4rem;
  color: var(--text);
}

p,
span,
li,
td,
a,
ul,
li {
  text-decoration: none;
  color: var(--text);
  margin: 0;
  padding: 0;
  line-height: 140%;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-family: "Red Rose", serif;
  color: var(--white);
  font-weight: 700;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: clamp(4rem, calc(4rem + 16 * (100vw - 375px) / 1065), 5.2rem);
}

h2 {
  font-size: clamp(3.6rem, calc(3.2rem + 12 * (100vw - 375px) / 1065), 4rem);
}

h3 {
  font-size: clamp(2.8rem, calc(2.8rem + 4 * (100vw - 375px) / 1065), 3.2rem);
}

h4 {
  font-size: clamp(2.4rem, calc(2.4rem + 2 * (100vw - 375px) / 1065), 2.8rem);
}

h5 {
  font-size: clamp(2rem, calc(2rem + 2 * (100vw - 375px) / 1065), 2.4rem);
}

h6 {
  font-size: clamp(1.6rem, calc(1.6rem + 2 * (100vw - 375px) / 1065), 2rem);
}

button {
  background: none;
  border: none;
}

li {
  list-style: none;
}

.styled-ul {
  ul {
    padding-left: 3.2rem;
    list-style: none;
    width: max-content;
    li {
      position: relative;
      color: var(--black);
      &::before {
        content: "";
        position: absolute;
        width: 1.6rem;
        height: 1.6rem;
        top: 50%;
        transform: translateY(-50%);
        left: -2.4rem;
        background: url(../../assets/images/icons/list-style.svg);
      }
      &:not(:last-child) {
        margin-bottom: 0.4rem;
      }
    }
  }
  &.green-list {
    ul {
      li {
        &::before {
          background: url(../../assets/images/icons/list-style-green.svg);
        }
      }
    }
  }
}

.styled-table {
  table {
    border-radius: 0.8rem;
    overflow: hidden;
    tr {
      th {
        font-size: 2.4rem;
        color: var(--black);
      }
      th,
      td {
        padding: 0.8rem 1.2rem;
      }
      td {
        font-size: 1.6rem;
      }

      &:first-child {
        background: var(--primary);
      }
      &:not(:first-child) {
        &:nth-child(2n + 1) {
          background: var(--primary-100);
        }
      }
    }
  }
}

.title {
  h1 {
    font-weight: 300;
    color: var(--white);
    span {
      display: block;
      font-weight: 700;
      font-size: clamp(4.8rem, 4.8rem + 1.21vw, 6rem);
      color: var(--white);
      letter-spacing: 2px;
      line-height: 100%;
    }
  }
  p {
    color: var(--white);
  }
  &.title-primary {
    span {
      color: var(--primary);
    }
  }
  &.title-secondary {
    span {
      color: var(--secondary);
    }
  }
}

.section-title {
  text-align: center;
  h3 {
    font-weight: 300;
    color: var(--white);
    span {
      font-weight: 700;
      font-size: 4.8rem;
      color: var(--primary);
      letter-spacing: 2px;
      line-height: 100%;
      display: block;
    }
  }
  &.title-secondary {
    span {
      color: var(--secondary);
    }
  }
  & + .general-content-box {
    margin-top: 2rem;
  }
}

.general-content-box {
  p + p {
    margin-top: 1.6rem;
  }
}

.colored-link {
  position: relative;
  transition: all 0.3s ease-in-out;

  &::after {
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translate(-8px, -50%);
    content: "";
    background: url(../../assets/images/icons/arrow-sign-primary.svg) no-repeat center center / cover;
    width: 1.6rem;
    height: 1.6rem;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
  &:hover {
    color: var(--primary) !important;
    &::after {
      opacity: 1;
      transform: translate(0, -50%);
    }
  }
}
